doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    title mapcover demo
    link(rel="stylesheet" href="assets/css/yeti_bootstrap.min.css")
    link(rel="stylesheet" href="assets/css/mapcover.css")
    link(rel="stylesheet" href="assets/css/page_specific.css")

    // import google map
    script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDEgp09_feK-aKfo_2h3tOcWfzbrByZwDw&libraries=geometry')


    // import mapbox(leaflet)
    script(src='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.js')
    link(href='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css', rel='stylesheet')

  body
    //this is just a bootstrap nav,
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') 15s MAPCOVER.JS DEMO
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='#') Home
            li
              a(href='https://github.com/bovetliu/mapcover' target="_blank") Github
            li
              a(href='#contact') Contact
        // /.nav-collapse

    .container-fluid#content
      .row
        .col-md-12
          h2 One set of HTML/CSS and JavaScript codes, fullfill different map venders.
      .row
        .col-md-9
          span( class="glyphicon glyphicon-star" aria-hidden="true") 
          | &nbsp;&nbsp; At left side of map, there is one mapcover ".mc-static2mapcontainer" UI, click zoomIn and zoomOut to zoom.
          br
          span( class="glyphicon glyphicon-star" aria-hidden="true") 
          | &nbsp;&nbsp; Right click on map to show the context menu. Click on Marker1 to generate one instance of "CustomMark1". If "Content of next Marker1" is
          | specified, then the "displayedText" of next Marker1 will have that content as "displayedText"
          br
          br 
      .row
        .col-md-9
          div.mapcover#mapcover
            .mapcover-map#mapcover-map
            
            div.demoControlPanel.mc-static2mapcontainer.panel
              |I am map UI control button's container, I think one can use jQuery UI to make me look better
              br
              br
              div.text-center#zoom-in-control zoomIn
              div.text-center#zoom-out-control zoomOut
            div.demoContextPanel.mc-ascontextmenu.panel 
              | I am map context menu container, you can sytle me and add logic to me, just as normal DOM nodes.
              | since I am not in Map Container at all! 
              .text-center
                .btn-group(role='group', aria-label='...')
                  button.btn.btn-default#place-marker1(type='button') Marker1
                  button.btn.btn-default#place-marker2(type='button') Marker2
              .form-group
                label(for='content-marker1') Content of next Marker1
                input#content-marker1.form-control(type='text', placeholder='New of Marker1!')
        .col-md-3#log


      .row
        .col-md-12
          br
          br
          br
          h4 Demo of mapcover for mapbox

      .row
        .col-md-9
          .mapcover#mapcover-mapbox
            .mapcover-map#mapcover-map-mapbox

            div.demoControlPanel.mc-static2mapcontainer.panel
              |I am map UI control button's container, I think one can use jQuery UI to make me look better
              br
              br
              div.text-center#zoom-in-control-mapbox zoomIn
              div.text-center#zoom-out-control-mapbox zoomOut
            div.demoContextPanel.mc-ascontextmenu.panel 
              | I am map context menu container, you can sytle me and add logic to me, just as normal DOM nodes.
              | since I am not in Map Container at all! 
              .text-center
                .btn-group(role='group', aria-label='...')
                  button.btn.btn-default#place-marker1-mapbox(type='button') Marker1
                  button.btn.btn-default#place-marker2-mapbox(type='button') Marker2
              .form-group
                label(for='content-marker1') Content of next Marker1
                input#content-marker1-mapbox.form-control(type='text', placeholder='New of Marker1!')
        .col-md-3#log-mapbox

      footer
        br
        br
        | this is footer







    // /.container



    // containers 
    script#customMarkerTemplate(type="text/template")
      div.mc-static2mapcanvas.customized-marker
        div.content.text-center <%= displayedText %>
        .text-center.remove-background 
          svg(height='8', width='16')
            polygon(points='0,0 8,8 16,0')
              | Sorry, your browser does not support inline SVG.


    script#AnotherClassTemplate(type="text/template")
      div.mc-static2mapcanvas.customized-marker2
        div.header1.text-center <%=hotelname%>
        div.number <%=number%> nights
        div.price for <%=price%>

    //
      Bootstrap core JavaScript
      ==================================================
    script(src='./assets/js/jquery.min.js')
    script(src='./assets/js/bootstrap.min.js')

    //following are underscore and backbone
      ==================================================
    script(src='./assets/plugins/backbone/underscore-min.js')
    script(src='./assets/plugins/backbone/backbone-min.js')

    // following is mapcover.js JavaScript  
    script(src='./assets/js/mapcover.js')

    script(src='./assets/js/demo.js')


