/*map cover demo less*/
html,
body {
  width: 100%;
  height: 100%;
}
#content {
  margin-top: 45px;
  height: 80%;
  position: relative;
}
#content #mapcover {
  height: 600px;
}
#content #mapcover #demoControlPanel {
  left: 20px;
  top: 200px;
  width: 200px;
  background-color: #fff;
  border: 1px solid #bbb;
  padding: 0px 10px;
  -webkit-box-shadow: 0px 3px 8px #888888;
  box-shadow: 0px 3px 8px #888888;
}
#content #mapcover #demoControlPanel #zoom-in-control,
#content #mapcover #demoControlPanel #zoom-out-control {
  cursor: pointer;
}
#content #mapcover #demoControlPanel #zoom-in-control:hover,
#content #mapcover #demoControlPanel #zoom-out-control:hover {
  color: #FF0000;
}
#content #mapcover #demoContextPanel {
  width: 210px;
  padding: 10px 10px;
  border: 1px solid #bbb;
  -webkit-box-shadow: 0px 3px 5px #888888;
  box-shadow: 0px 3px 5px #888888;
}
#content #mapcover #demoContextPanel div {
  margin-top: 5px;
}
#content #mapcover #mapcover-map .gm-style div div .customized-marker {
  background-color: rgba(0, 255, 255, 0);
}
#content #mapcover #mapcover-map .gm-style div div .customized-marker .content {
  background-color: #FF5A5F;
  color: #fff;
  padding: 0px 5px;
  font-size: 14px;
}
#content #mapcover #mapcover-map .gm-style div div .customized-marker .remove-background {
  padding: 0px;
  margin: 0px;
  margin-top: -4px;
  color: #FF5A5F;
  background-color: rgba(255, 255, 255, 0);
}
#content #mapcover #mapcover-map .gm-style div div .customized-marker.customized-marker-hover .content {
  background-color: #252525;
}
#content #mapcover #mapcover-map .gm-style div div .customized-marker.customized-marker-hover .remove-background {
  color: #252525;
}
#content #mapcover #mapcover-map .gm-style div div .customized-marker2 {
  font-size: 14px;
}
#content #mapcover #mapcover-map .gm-style div div .customized-marker2 .header1 {
  background-color: #FF0000;
  color: white;
  padding: 0px 5px;
}
#content #mapcover #mapcover-map .gm-style div div .customized-marker2 .number {
  background-color: #66FF33;
  color: #000;
  padding: 0px 5px;
}
#content #mapcover #mapcover-map .gm-style div div .customized-marker2 .price {
  background-color: #3399FF;
  color: #fff;
  padding: 0px 5px;
}
#content #mapcover #mapcover-map .gm-style div div .customized-marker2.customized-marker-hover {
  -webkit-box-shadow: 0px 0px 10px #000000;
  box-shadow: 0px 0px 10px #000000;
}
