html,body{
  width: 100%;
  heigh: 100%;
}

#content{
  margin-top:45px;
  #mapcover{
    height: 600px;

    #demoCustomMarker{
      left: 200px;
      top:100px;
      // height: 20px;
      // width: 50px;
      background-color: #FF5A5F; 
      color: #fff;
      padding:0px 5px;
    }
    #demoControlPanel{
      left: 200px;
      top:400px;
      height: 100px;
      width: 200px;
      background-color: #fff;
    }
    // here specifying, when contextmenu is shown how it would be like
    #demoContextPanel{
      
      width:170px;
      height: 240px;
      border:2px solid #222;
    }
  
    #mapcover-map{  // map container
      .customized-marker{
        background-color: #FF5A5F; 
        color: #fff;
        padding:0px 5px;
        font-size: 14px;
      }
      
    }
  }



}