html,
body {
  width: 100%;
  heigh: 100%;
}
#content {
  margin-top: 45px;
}
#content #mapcover {
  height: 600px;
}
#content #mapcover #demoCustomMarker {
  left: 200px;
  top: 100px;
  background-color: #FF5A5F;
  color: #fff;
  padding: 0px 5px;
}
#content #mapcover #demoControlPanel {
  left: 200px;
  top: 400px;
  height: 100px;
  width: 200px;
  background-color: #fff;
}
#content #mapcover #demoContextPanel {
  width: 170px;
  height: 240px;
  border: 2px solid #222;
}
#content #mapcover #mapcover-map .customized-marker {
  background-color: #FF5A5F;
  color: #fff;
  padding: 0px 5px;
  font-size: 14px;
}
